<nav class="header">
    <div class="header_sm container d-flex justify-content-end">
        <a href="index.html"><div class="logo"><img src="../assets/images/logo-white.png" alt=""></div></a>
        <ul class="list d-flex">
            <li><a href="pages_store-op.html">系列鏡框</a></li>
            <li><a href="storeInfo.html">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</nav>