<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="kv">
      <div class="container">
        <h3>Promise-Desert 2020 早春系列</h3>
        <h1>看得清，才能看得遠</h1>
        <div class="btn">
          <a href="#">立即購買</a>
        </div>
      </div>
    </header>
    <section class="info d-flex flex-column align-item-center">
      <h2 class="title">用專業的心，做專業的事</h2>
      <ul class="info_list container d-flex">
        <li class="align-item-center d-flex flex-column">
          <img src="../assets/images/home-section2-1.png" alt="">
          <h4>單一價格</h4>
          <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="align-item-center d-flex flex-column">
          <img src="../assets/images/home-section2-2.png" alt="">
          <h4>20分鐘即可取件</h4>
          <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="align-item-center d-flex flex-column">
          <img src="../assets/images/home-section2-3.png" alt="">
          <h4>安心售後服務</h4>
          <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="align-item-center d-flex flex-column">
          <img src="../assets/images/home-sectioin2-4.png" alt="">
          <h4>關於鏡片</h4>
          <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </section>
    <section class="classic d-flex flex-column align-item-center">
      <h2 class="title">經典系列鏡框</h2>
      <ul class="classic_list container d-flex">
        <li class="d-flex flex-column">
          <img src="../assets/images/home-section3-1.png" alt="">
          <h2>
            OPTICAL
          </h2>
        </li>
        <li>
          <img src="../assets/images/home-section3-2.png" alt="">
          <h2>
            SUNGLASSES
          </h2>
        </li>
        <li>
          <img src="../assets/images/home-section3-3.png" alt="">
          <h2>
            FUNCTIONAL
          </h2>
        </li>
      </ul>
    </section>
    <section class="design d-flex flex-column align-item-center">
      <h2 class="title">聯名設計鏡框</h2>
      <ul class="design_list container d-flex">
        <li>
          <div class="design_pic design_pic_1"></div>
          <h2 class="design_txt design_txt_1">DOUBLE A+</h2>
        </li>
        <li>
          <div class="design_pic design_pic_2"></div>
          <h2 class="design_txt design_txt_2">YOUTH</h2>
        </li>
      </ul>
    </section>
    <section class="customer d-flex flex-column align-item-center">
      <h2 class="title">顧客推薦</h2>
      <ul class="customer_list container d-flex align-item-center">
        <li>
          <img src="../assets/images/home-section5-1.png" alt="">
          <div class="content d-flex flex-column justify-content-between">
            <div class="comment">
              <p class="name">Jessy</p>
              <p class="con">眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="date">2021/06/20</p>
          </div>
        </li>
        <li>
          <img src="../assets/images/home-section5-2.png" alt="">
          <div class="content d-flex flex-column justify-content-between">
            <div class="comment">
              <p class="name">凱倫</p>
              <p class="con">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="date">2021/04/18</p>
          </div>
        </li>
        <li>
          <img src="../assets/images/home-section5-3.png" alt="">
          <div class="content d-flex flex-column justify-content-between">
            <div class="comment">
              <p class="name">悠悠</p>
              <p class="con">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="date">2020/12/25</p>
          </div>
        </li>
        <li>
          <img src="../assets/images/home-section5-4.png" alt="">
          <div class="content d-flex flex-column justify-content-between">
            <div class="comment">
              <p class="name">Kyuan</p>
              <p class="con">服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="date">2020/10/31</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="contact">
      <div class="container">
        <h2 class="title">聯絡我們</h2>
        <h5>
          我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </h5>
        <form action="" method="post">
          <div class="contact_item contact_name">
            <label for="name">姓名</label>
            <input type="text" name="" id="name" placeholder="陳小明">
          </div>
          <div class="contact_item contact_tel">
            <label for="tel">聯絡電話</label>
            <input type="number" name="" id="tel" placeholder="0912-345-678">
          </div>
          <div class="contact_item contact_email">
            <label for="mail">電子郵件</label>
            <input type="text" name="" id="mail" placeholder="example@email.com">
          </div>
          <div class="contact_item contact_op">
            <label for="op">意見反應</label>
            <input type="text" name="" id="op" placeholder="請輸入您的意見" class="op">
          </div>
          <div class="check">
            <span class="material-symbols-outlined">
              check_box_outline_blank
            </span>
            <p>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</p>
          </div>
          <div class="btn">
            <a href="#">
              確認送出
            </a>
          </div>
        </form>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
