<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/tab_series'); -%>

    <ul class="classic_bn d-flex">
        <li class="classic_bn_op classic_bn_op1">
            <img src="../assets/images/product-header-1.png" alt="" class="PC_only">
            <img src="../assets/images/product-header-sm-1.png" alt="" class="SM_only">
        </li>
        <li class="classic_bn_op classic_bn_op2">
            <img src="../assets/images/product-header-2.png" alt="" class="PC_only">
            <img src="../assets/images/product-header-sm-2.png" alt="" class="SM_only">
        </li>
    </ul>
    <section class="Celluloid_Combi">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="pd container d-flex ">
            <li>
                <a href="#">
                    <img src="../assets/images/product-1.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-2.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-3.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-4.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-5.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-6.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-1.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-2.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-3.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-4.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-5.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-6.png" alt="">
                    <div class="pd_info d-flex justify-content-between">
                        <p class="num">BJ41600S</p>
                        <p class="dollar">NTD3,490</p>
                    </div>
                    <ul class="color_list d-flex">
                        <li class="color color1"></li>
                        <li class="color color2"></li>
                    </ul>
                </a>
            </li>
        </ul>
    </section>
    <section class="num_pages d-flex justify-content-center">
        <ul class="pages_list d-flex justify-content-center">
            <li><a href="#">上一頁</a></li>
            <li><a href="#">1</a></li>
            <li class="num_active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一頁</a></li>
        </ul>
    </section>


    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>