<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <section class="store_title">
        <div class="container">
            <h2>門市據點</h2>
            <form action="" method="post" class="d-flex align-item-center">
                <label for="">選擇地區</label>
                <select name="" id="">
                    <option value="">台北市</option>
                    <option value="">台中市</option>
                    <option value="">高雄市</option>
                </select>
            </form>
            <ul class="store_list d-flex">
                <li class="store_list_item">
                    <img src="../assets/images/store-1.png" alt="">
                    <h4>台北中山旗艦店</h4>
                    <ul class="store_info">
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <p class="store_tel">電話：(02)000-1234</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <p class="store_time">營業時間：10:00-21:00</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p class="store_adress">地址：台北市中山區南京東路25巷2-1號</p>
                        </li>
                    </ul>
                    <div class="store_info_btn">
                        <a href="#">詳細資訊</a>
                    </div>
                </li>
                <li class="store_list_item">
                    <img src="../assets/images/store-2.png" alt="">
                    <h4>台北綠園店</h4>
                    <ul class="store_info">
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <p class="store_tel">電話：(02)000-2345</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <p class="store_time">營業時間：10:00-21:00</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p class="store_adress">地址：台北市中正區復興南路 132-1 號</p>
                        </li>
                    </ul>
                    <div class="store_info_btn">
                        <a href="#">詳細資訊</a>
                    </div>
                </li>
                <li class="store_list_item">
                    <img src="../assets/images/store-3.png" alt="">
                    <h4>台中清水旗艦店</h4>
                    <ul class="store_info">
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <p class="store_tel">電話：(02)000-1234</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <p class="store_time">營業時間：10:00-21:00</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p class="store_adress">地址：台中市清水區經南一路 23 號 8 樓</p>
                        </li>
                    </ul>
                    <div class="store_info_btn">
                        <a href="#">詳細資訊</a>
                    </div>
                </li>
                <li class="store_list_item">
                    <img src="../assets/images/store-4.png" alt="">
                    <h4>高雄中正形象店</h4>
                    <ul class="store_info">
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <p class="store_tel">電話：(07)000-2345</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <p class="store_time">營業時間：10:00-21:00</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p class="store_adress">地址：高雄市苓雅區中正路 38 號 12 樓</p>
                        </li>
                    </ul>
                    <div class="store_info_btn">
                        <a href="#">詳細資訊</a>
                    </div>
                </li>
                <li class="store_list_item">
                    <img src="../assets/images/store-5.png" alt="">
                    <h4>高雄夢時代店</h4>
                    <ul class="store_info">
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <p class="store_tel">電話：(07)000-1234</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <p class="store_time">營業時間：10:00-21:00</p>
                        </li>
                        <li class="d-flex">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p class="store_adress">地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                        </li>
                    </ul>
                    <div class="store_info_btn">
                        <a href="#">詳細資訊</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>